<div class="mf-collection-sidebar">
    <form role="search">
        <fieldset class="mf-facet-selector">
            <legend class="mf-facet-title">Format</legend>
            <label class="mf-facet mf-facet-radio">
                <input type="radio" name="format">
                <span>Short Haired</span>
    </label>
            <label class="mf-facet mf-facet-radio">
                <input type="radio" name="format">
                <span>Medium Hair</span>
            </label>
            ...
        </fieldset>
    </form>
</div>

