<div class="mf-collection-sidebar">
    <form role="search">
        <fieldset class="mf-facet-selector">
            <legend class="mf-facet-title">Radio select facet</legend>
            <label class="mf-facet mf-facet-radio">
                <input type="radio" name="format">
                <span>Short Haired</span>
            </label>
            <label class="mf-facet mf-facet-radio">
                <input type="radio" name="format">
                <span>Medium Hair</span>
            </label>
        </fieldset>
        <fieldset class="mf-facet-selector">
            <legend class="mf-facet-title">Checkbox format</legend>
            <label class="mf-facet mf-facet-checkbox">
                <input type="checkbox" name="fct1">
                <span>Some facet value</span>
            </label>
            <label class="mf-facet mf-facet-checkbox">
                <input type="checkbox" name="fct2">
                <span>Another facet value</span>
            </label>
            <label class="mf-facet mf-facet-checkbox">
                <input type="checkbox" name="fct3">
                <span>A third facet value</span>
            </label>
        </fieldset>
    </form>
</div>

