<div class="mf-page mf-static-page" role="main" aria-labelledby="mf-page-title">
    <h1 class="mf-static-page-title" id="mf-page-title">Frequently Asked Questions</h1>
    <div class="mf-static-page-content">
        <p>Content here will probably be html content -- 
            <code>p</code> tags, headings, and lists.
        </p>
        <h2>This is a h2</h2>
        <p>We will advise users to make <code>h2</code> the 
            highest level heading in their content, but users 
            don't read so they're likely to use h1s too.
            This paragrah also is long to test the wrapping
            and whatnot. We will advise users to make <code>h2</code> the 
            highest level heading in their content, but users 
            don't read so they're likely to use h1s too.
            This paragrah also is long to test the wrapping
            and whatnot.
        </p>
        <p>A short paragraph following.</p>
        <pre>
            this content is in a pre tag.
            // sourcecode might be rendered like this.
        </pre>
        <h1>Heres a h1 to see</h1>
        <p>A short paragraph.</p>
        <h2>Heres a h2 to see</h2>
        <p>A short paragraph.</p>
        <h3>Heres a h3 to see</h3>
        <p>A short paragraph.</p>
        <h4>Heres a h4 to see</h4>
        <p>A short paragraph.</p>
        <h5>Heres a h5 to see</h5>
        <p>A short paragraph.</p>
        <h6>Heres a h6 to see</h6>
        <p>A short paragraph.</p>
        <p>Another short paragraph.</p>
        <ul>
            <li>some items</li>
            <li>in a list
                <ul>
                    <li>some are nested</li>
                </ul>
            </li>
        </ul>
        <p>Followed by a normal paragraph that is more of a normal length.</p>
        <p>Followed by a normal paragraph.</p>
    </div>
</div>

