// ## About this document #######################################

// ...um


// ## Variables #################################################

// ...um


// ## Setting sane defaults #####################################


// #### Box sizing

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

// Set box-sizing to border-box at the html level, and tells
// everything else to inherit.  This approach is discussed here:
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

// A simple explanation of box sizing: https://css-tricks.com/box-sizing/


// #### Margin and padding

// Set all margins and padding to 0. "Default" margins is a
// common source of surprising gaps in your page layout.

* {
	margin: 0;
	padding: 0;
}


// #### Font size and weight

// Set the font size and weight on the html tag, and set
// everything else to inherit from its parent.

// This will take away the bold on headings, and sets the font
// size for headings and form elements.

html {
	font-weight: 400;
	font-size: 1em;
}
* {
	font-weight: inherit;
	font-size: inherit;
}

// The font size of subscript and superscript text just got set
// to inherit; restore the expected smaller size for those tags.

sub, sup {
	font-size: 0.8em;
}









body {
	background: #fff;
	margin: 0;
	padding: 0;
}

.mf-body-wrapper {
}

.mf-header {
	position: relative;
	background-image: linear-gradient(to top, green, #fff);
}

.mf-header-logo {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 20px;
	float: left;
	border: 1px solid pink;
	height: 80px;
	max-width: 120px;
}

.mf-heading {
	margin: 0;
	padding-left: 150px;
	font-weight: normal ! important;
	font-size: 30px;
	line-height: 200px;
}


